<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>FiltroLog</filter-name>
        <filter-class>br.com.podechamar.view.FiltroLog</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroLogar</filter-name>
        <filter-class>br.com.podechamar.view.FiltroLogar</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroLog</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroLogar</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Controle</servlet-name>
        <servlet-class>br.com.podechamar.view.Controle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/Controle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/SalvarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/SalvarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/AlterarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ListarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/SalvarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/Logar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/Deslogar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/AlterarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ListarTipoChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/SalvarTipoChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/AlterarTipoChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/SalvarAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ListarAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/AlterarAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/SalvarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ListarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/AlterarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/SalvarChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ListarChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/AlterarChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/VisualizaChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/AtribuirFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ChamadoAdicionarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ChamadoAdicionarAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ConcluirChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/CancelarChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/FeedbackFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/FeedbackCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/Justificativa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/Justificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ChamadoExcluirAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ChamadoExcluirItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ChamadoRelStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ChamadoRelTipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/ListarHistorico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/DadosHistorico</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30000
        </session-timeout>
    </session-config>
</web-app>
